/*------------------------------------ ALL PAGES --------------------------------*/
body
{
	margin: 0;
	padding: 0;
	font-family: "Calibri", Times, serif;
	background-color:#ededed;
	width:auto;
	min-width:1750px;
	height:5000px;
}

.HeadBar{
	display:flex;
	background-color:#242424;
	width:100%;
	height:70px;	
	justify-content:center;
	align-items:center;
	flex-flow:row nowrap;
}

.HeadBar img{
	width:120px;
	height:43px;
}
.NavigationItems{
	margin-left:3%;
	width:50%;
	display:flex;
	flex-flow: row wrap;
	align-items:center;
	align-content:flex-start;
}
.NavigationItem{
	text-decoration: none;
	background-color:#c8cccc;
	flex-basis:100px;
	text-align:center;
	margin-left:2px;
	color:black;
	height:25px;
	font-size:18px;
	font-weight:600;
	border-bottom:solid 1px;
}

.NavigationItem:hover{
	background-color:#e0e0e0;
}

.NavigationItem li, a, ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	color:black;
}

.NavigationItem:hover .dropcontent{
	display:flex;
}

.dropcontent{
	display:none;
	background-color:#c8cccc;
	justify-content:space-around;
	flex-basis: auto;
	text-align:center;
	color:black;
	min-height:25px;
	height:auto;
	font-size:18px;
	font-weight:600;
	flex-flow:column;
	border-bottom:solid 1px;

}

.dropcontent:hover{
	display:flex;
	background-color:#e0e0e0;
	flex-flow:column;
	
}

.NavigationItem2{
	text-decoration: none;
	background-color:#5797ff;
	flex-basis:100px;
	text-align:center;
	margin-left:2%;
	color:white;
	height:25px;
	font-size:18px;
	font-weight:600;
}
.NavigationItem2:hover{
	background-color:#68a0fc;
}

.LogRegBtn{
	display:flex;
	text-decoration: none;
	flex-basis:auto;
	flex-flow: row nowrap;
	margin-left:8%;
	height:auto;
	width:auto;
	font-size:18px;
	font-weight:600;
	align-items:center;
	background-color:#242424;
	color:#c8cccc;
	border-style:none;
}

.LogRegBtn:hover{
	color:#e0e0e0;
}

.LogRegBtn img{
	margin-left:10px;
	width:42px;
	height:42px;
	border-radius:50%;
}

.LogRegBox{
	position:relative;
	display: none;
	align-items: center;
	justify-content: flex-start;
	height:500px;
	width:500px;
	background-color:#242424;
	color:white;
	border-radius:5%;
	position:fixed;
	left:35%;
	top:15%;
	flex-flow:column wrap;

}
.LogRegBox img{
	width:42px;
	height:42px;
	margin-right:%;
}
.LogRegBox form{
	margin-right:50px;
	display:none;
	justify-content:center;
	flex-flow:column wrap;
	width:50%;
	height:auto;
}
.LogRegBox label, input{
	margin-top:10px;
}


.LogRegBox h1{
	text-align:center;
	margin-top:0px;
	display:none;
}
.Cross{
	margin-left:85%;
	margin-top:2%;
}
.RegHere{

}
.content{
	position:relative;
	display:flex;
	justify-content:center;
	z-index:-1;
}
/*------------------------------------ ALL PAGES --------------------------------*/

/*------------------------------------ SCHOOLS --------------------------------*/

/*------------------------------------ SCHOOLS --------------------------------*/

/*------------------------------------ CAMPS --------------------------------*/
/*------------------------------------ CAMPS --------------------------------*/

/*------------------------------------ EVENTS--------------------------------*/
/*------------------------------------ EVENTS --------------------------------*/

/*------------------------------------ COMMUNITY --------------------------------*/
/*------------------------------------ COMMUNITY --------------------------------*/

/*------------------------------------ ABOUT --------------------------------*/
/*------------------------------------ ABOUT --------------------------------*/

/*FIND A CAMP*/
/*FIND A CAMP*/







































/*	
	.container{
		width: 100%;
		height: 100px;
		background-color: #ccc;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
	}
	.item{
		background-color: red;
		border-color:black;
		border-style: solid;
		flex-basis: 40%;
	}
	.item2{
		background-color: green;
		border-color:black;
		border-style: solid;
		flex-basis: 100%;
	}*/